<main class="main">
        <!--==================== REGISTER ====================-->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <div class="home__data">
                    <h1 class="home__title">
                        Registrarse
                    </h1>
                    <p class="home__description">
                        
                    </p>
                    <form action="" method="POST" class=""> 

                            <input type="text" name="Nombre" placeholder="Primer Nombre"  required>
                            
                            <input type="text" name="Nombre2" placeholder="Segundo Nombre">

                            <input type="text" name="Apellido" placeholder="Primer Apellido"  required>
                            
                            <input type="text" name="Apellido2" placeholder="Segundo Apellido"  required>

                            <input type="email" name="Email" placeholder="Correo" required>
       
                            <input type="password" name="password" placeholder="Contraseña" required>
                            
                            <label for="lang">Qué eres?</label>
                            <select name="Rol" id="Rol">
                                    <option value="Estudiante">Estudiante</option>
                                    <option value="Arrendatario">Arrendatario</option>
                                 </select>
                            
                      <button type="submit" class="button">
                            Acceder
                        </button>

                        {{#if error}}
                        <p>{{error}}</p>
                        {{/if}}
                        
                    </form>
                  </div>

                <div class="home__images">
                    <div class="home__orbe"></div>

                    <div class="home__img">
                        <img src="img/register.svg" alt="">
                    </div>
                </div>
            </div>
        </section>