<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">

    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="css/swiper-bundle.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="css/styles.css">

    <title>LodGing - Buscador de Pensiones Universitarias</title>
</head>

<body>
   {{{body}}}
    <!--==================== LOADING ANIMATION ====================-->
    <section class="loader" id="loader">
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <h1>Cargando...</h1>
    </section>

    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav__logo">
                LODGING <i class='bx bxs-home-alt-2'></i>
            </a>

            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link active-link">
                            <i class='bx bx-home-alt-2'></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="pages/alojamientos.html" class="nav__link">
                            <i class='bx bx-building-house'></i>
                            <span>Alojamientos</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#value" class="nav__link">
                            <i class='bx bx-award'></i>
                            <span>Valores</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">
                            <span>Contactos</span>
                            <i class='bx bx-phone'></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Theme change button -->
            

            <i class='bx bx-moon change-theme' id="theme-button"></i>
            {{#if Nombre}}
            <p> Hola {{Nombre}}</p>
            <a href="/logout" class="nav__button button">Cerrar Sesión</a>
            {{else}}
            <a href="/login" class="nav__button button">Iniciar sesión</a>
            <a href="/register" class="nav__button button">Registrate</a>
            {{/if}}
           
        </nav>
    </header>

    <!---Espacio Home -->

    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class='bx bx-chevrons-up'></i>
    </a>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="js/scrollreveal.min.js"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="js/main.js"></script>
</body>

</html>